html,
* {
    font-family: helvetica;
    box-sizing: border-box;
}

body {
    background: url('https://i.imgur.com/m1PgKfo.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    justify-content: center;
    align-items: center;
}

header {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
}

main {
    text-align: center;
    grid-column: 1 / span 3;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 26px;
}

edge {
    display: grid;
    grid-template-areas: 'bottom   bottom';
    grid-row: 4;
    justify-content: center;
    align-items: center;
}

aside {
    display: grid;
    grid-template-areas: 'bottom   bottom';
    grid-row: 4;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
}

footer {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 5;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

#player-1-location {
    color: white;
    font-size: 25px;
}

#player-2-location {
    color: black;
    font-size: 25px;
}

#board-deck-p1 {
    font-size: 42px;
}

#board-deck-p2 {
    font-size: 42px;
}

#player1-deck {
    background-image: url("https://i.imgur.com/H6Vql71.png");
    font-size: 42px;
}

#player2-deck {
    background-image: url("https://i.imgur.com/H6Vql71.png");
    font-size: 42px;
}

#start-game {
    background-color: black;
    cursor: pointer;
    color: orange;
    font-size: 40px;
}

#play {
    background-color: black;
    cursor: pointer;
    color: orange;
    font-size: 40px;
}

#replay {
    background-color: black;
    cursor: pointer;
    color: orange;
    font-size: 40px;
}

@charset "UTF-8";
.card {
    box-sizing: border-box;
    display: inline-block;
    margin: 30px 30px 50px 10px;
    cursor: pointer;
    /* Set the card's dimensions, and size it relative to
     it's font size. */
    font-size: inherit;
    width: 4.0em;
    height: 5.5em;
    /* Add a default background color and border. */
    background-color: #fff;
    border-radius: 0.20em;
    border: 1px solid #c3c3c3;
    /* Scale and set the background settings. */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    /* "Hide" any text within the element (use text to be
     simply compliant with screen readers, etc.). */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    /* Default sizes for cards (size based off the font). */
    /* Optional styles for cards: borderless and drop shadow. */
    /* Not a card, but a card-shaped outline to represent a
     droppable place, like an empty pile. */
}

.card.xlarge {
    font-size: 42px;
}

.card.no-border {
    border: 0;
}

.card.shadow {
    box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75);
}

.card.outline {
    background-image: none;
    background-color: rgba(195, 195, 195, 0.5);
    border: 0.15em dashed #daa520;
}

.card.hearts.A,
.card.hA,
.card.♥A {
    background-image: url("card-deck-imgs/hearts/hearts-A.svg");
}

.card.hearts.K,
.card.hK,
.card.♥K {
    background-image: url("card-deck-imgs/hearts/hearts-K.svg");
}

.card.hearts.Q,
.card.hQ,
.card.♥Q {
    background-image: url("card-deck-imgs/hearts/hearts-Q.svg");
}

.card.hearts.J,
.card.hJ,
.card.♥J {
    background-image: url("card-deck-imgs/hearts/hearts-J.svg");
}

.card.hearts.r10,
.card.h10,
.card.♥10 {
    background-image: url("card-deck-imgs/hearts/hearts-10.svg");
}

.card.hearts.r09,
.card.h9,
.card.♥09 {
    background-image: url("card-deck-imgs/hearts/hearts-9.svg");
}

.card.hearts.r08,
.card.h8,
.card.♥08 {
    background-image: url("card-deck-imgs/hearts/hearts-8.svg");
}

.card.hearts.r07,
.card.h7,
.card.♥07 {
    background-image: url("card-deck-imgs/hearts/hearts-7.svg");
}

.card.hearts.r06,
.card.h6,
.card.♥06 {
    background-image: url("card-deck-imgs/hearts/hearts-6.svg");
}

.card.hearts.r05,
.card.h5,
.card.♥05 {
    background-image: url("card-deck-imgs/hearts/hearts-5.svg");
}

.card.hearts.r04,
.card.h4,
.card.♥04 {
    background-image: url("card-deck-imgs/hearts/hearts-4.svg");
}

.card.hearts.r03,
.card.h3,
.card.♥03 {
    background-image: url("card-deck-imgs/hearts/hearts-3.svg");
}

.card.hearts.r02,
.card.h2,
.card.♥02 {
    background-image: url("card-deck-imgs/hearts/hearts-2.svg");
}

.card.spades.A,
.card.sA,
.card.♠A {
    background-image: url("card-deck-imgs/spades/spades-A.svg");
}

.card.spades.K,
.card.sK,
.card.♠K {
    background-image: url("card-deck-imgs/spades/spades-K.svg");
}

.card.spades.Q,
.card.sQ,
.card.♠Q {
    background-image: url("card-deck-imgs/spades/spades-Q.svg");
}

.card.spades.J,
.card.sJ,
.card.♠J {
    background-image: url("card-deck-imgs/spades/spades-J.svg");
}

.card.spades.r10,
.card.s10,
.card.♠10 {
    background-image: url("card-deck-imgs/spades/spades-10.svg");
}

.card.spades.r09,
.card.s9,
.card.♠09 {
    background-image: url("card-deck-imgs/spades/spades-9.svg");
}

.card.spades.r08,
.card.s8,
.card.♠08 {
    background-image: url("card-deck-imgs/spades/spades-8.svg");
}

.card.spades.r07,
.card.s7,
.card.♠07 {
    background-image: url("card-deck-imgs/spades/spades-7.svg");
}

.card.spades.r06,
.card.s6,
.card.♠06 {
    background-image: url("card-deck-imgs/spades/spades-6.svg");
}

.card.spades.r05,
.card.s5,
.card.♠05 {
    background-image: url("card-deck-imgs/spades/spades-5.svg");
}

.card.spades.r04,
.card.s4,
.card.♠04 {
    background-image: url("card-deck-imgs/spades/spades-4.svg");
}

.card.spades.r03,
.card.s3,
.card.♠03 {
    background-image: url("card-deck-imgs/spades/spades-3.svg");
}

.card.spades.r02,
.card.s2,
.card.♠02 {
    background-image: url("card-deck-imgs/spades/spades-2.svg");
}

.card.back-red {
    background-image: url("card-deck-imgs/redCardBack.svg");
}

.card.back-blue {
    background-image: url {
        "card-deck-imgs/blueCardBack.svg"
    }
    ;
}


/* Re-orients the cards for different directions. While
   they are symmetric, it's still important to orient
   them correctly in case text or other symbols are
   layered on them with CSS pseudo-selectors, new
   classes/rules, etc. */

.card.west,
.card.W {
    transform: rotate(90deg);
    margin: auto 0.75em;
}

.card.west.shadow,
.card.W.shadow {
    box-shadow: 2px -2px 3px 0 rgba(41, 41, 41, 0.75);
}

.card.north,
.card.N {
    transform: rotate(180deg);
}

.card.north.shadow,
.card.N.shadow {
    box-shadow: -2px -2px 3px 0 rgba(41, 41, 41, 0.75);
}

.card.east,
.card.E {
    transform: rotate(270deg);
    margin: auto 0.75em;
}

.card.east.shadow,
.card.E.shadow {
    box-shadow: -2px 2px 3px 0 rgba(41, 41, 41, 0.75);
}

@media only screen and (max-width: 500px) {
    header {
        grid-area: 2;
        grid-row: 1;
    }
    main {
        grid-area: 2;
        grid-row: 2;
    }
    edge {
        grid-area: 2;
        grid-row: 2;
    }
    aside {
        grid-area: 2;
        grid-row: 2;
    }
    footer {
        grid-area: 2;
        grid-row: 3;
    }
}