html,
* {
    font-family: helvetica;
    box-sizing: border-box;
}

body {
    background: url('https://i.imgur.com/m1PgKfo.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    justify-content: center;
    align-items: center;
}

header {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
}

main {
    text-align: center;
    grid-column: 1 / span 3;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 26px;
}

#msg {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 3;
    align-items: center;
    justify-content: center;
}

edge {
    display: grid;
    grid-template-areas: 'bottom   bottom';
    grid-row: 4;
    justify-content: center;
    align-items: center;
}

aside {
    display: grid;
    grid-template-areas: 'bottom   bottom';
    grid-row: 4;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
}

footer {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 5;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
}

#player-1-location {
    color: black;
    font-size: 25px;
}

#player-2-location {
    color: black;
    font-size: 25px;
}

#board-deck-p1 {
    font-size: 42px;
}

#board-deck-p2 {
    font-size: 42px;
}

#player1-deck {
    background-image: url("https://i.imgur.com/H6Vql71.png");
    font-size: 42px;
}

#player2-deck {
    background-image: url("https://i.imgur.com/H6Vql71.png");
    font-size: 42px;
}

#play {
    background-color: black;
    cursor: pointer;
    color: orange;
    font-size: 40px;
}

#replay {
    background-color: black;
    cursor: pointer;
    color: orange;
    font-size: 40px;
}

@charset "UTF-8";
.card {
    box-sizing: border-box;
    display: inline-block;
    margin: 30px 30px 50px 10px;
    font-size: inherit;
    width: 4.0em;
    height: 5.5em;
    background-color: #fff;
    border-radius: 0.20em;
    border: 1px solid #c3c3c3;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.card.xlarge {
    font-size: 42px;
}

.card.no-border {
    border: 0;
}

.card.shadow {
    box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75);
}

.card.outline {
    background-image: none;
    background-color: rgba(195, 195, 195, 0.5);
    border: 0.15em dashed #daa520;
}

.card.hA {
    background-image: url("card-deck-imgs/hearts/hearts-A.svg");
}

.card.hK {
    background-image: url("card-deck-imgs/hearts/hearts-K.svg");
}

.card.hQ {
    background-image: url("card-deck-imgs/hearts/hearts-Q.svg");
}

.card.hJ {
    background-image: url("card-deck-imgs/hearts/hearts-J.svg");
}

.card.h10 {
    background-image: url("card-deck-imgs/hearts/hearts-10.svg");
}

.card.h9 {
    background-image: url("card-deck-imgs/hearts/hearts-9.svg");
}

.card.h8 {
    background-image: url("card-deck-imgs/hearts/hearts-8.svg");
}

.card.h7 {
    background-image: url("card-deck-imgs/hearts/hearts-7.svg");
}

.card.h6 {
    background-image: url("card-deck-imgs/hearts/hearts-6.svg");
}

.card.h5 {
    background-image: url("card-deck-imgs/hearts/hearts-5.svg");
}

.card.h4 {
    background-image: url("card-deck-imgs/hearts/hearts-4.svg");
}

.card.h3 {
    background-image: url("card-deck-imgs/hearts/hearts-3.svg");
}

.card.h2 {
    background-image: url("card-deck-imgs/hearts/hearts-2.svg");
}

.card.sA {
    background-image: url("card-deck-imgs/spades/spades-A.svg");
}

.card.sK {
    background-image: url("card-deck-imgs/spades/spades-K.svg");
}

.card.sQ {
    background-image: url("card-deck-imgs/spades/spades-Q.svg");
}

.card.sJ {
    background-image: url("card-deck-imgs/spades/spades-J.svg");
}

.card.s10 {
    background-image: url("card-deck-imgs/spades/spades-10.svg");
}

.card.s9 {
    background-image: url("card-deck-imgs/spades/spades-9.svg");
}

.card.s8 {
    background-image: url("card-deck-imgs/spades/spades-8.svg");
}

.card.s7 {
    background-image: url("card-deck-imgs/spades/spades-7.svg");
}

.card.s6 {
    background-image: url("card-deck-imgs/spades/spades-6.svg");
}

.card.s5 {
    background-image: url("card-deck-imgs/spades/spades-5.svg");
}

.card.s4 {
    background-image: url("card-deck-imgs/spades/spades-4.svg");
}

.card.s3 {
    background-image: url("card-deck-imgs/spades/spades-3.svg");
}

.card.s2 {
    background-image: url("card-deck-imgs/spades/spades-2.svg");
}

@media only screen and (max-width: 400px) {
    header {
        grid-area: 1;
        grid-row: 1;
    }
    main {
        grid-area: 1;
        grid-row: 2;
    }
    edge {
        grid-area: 1;
        grid-row: 2;
    }
    aside {
        grid-area: 1;
        grid-row: 2;
    }
    footer {
        grid-area: 1;
        grid-row: 3;
    }
}